@charset "utf-8";
/* CSS Document */

body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
}

a {
	text-decoration: none;
	color: #797871;
}

img {
	vertical-align: middle;
	border: 0px;
	
}

td {
	font-size:12px;
}

#table_body td {
	vertical-align: top;
}

#index_menu {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}


input {
	padding: 5px;
}

input[type="text"]:disabled {
    color: #333333;
}

select:disabled {
    color: #333333;
}

hr {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #e5e5e5;
	height: 1px;
	width: 70%;
}
#tbwb {
	border-collapse:collapse;
}
#tbwb td {
	border:1px solid #cecece;
	border-collapse:collapse;
	background-size:cover;
	text-align:center;
	vertical-align:middle;
	height:40px;
	white-space: nowrap;
}

#celllink a{width:100%;height:100%;display:block;}
#celllink a:hover{width:100%;height:100%;display:block;}

/*FOR ACCORDION*/
.header {
	background: #000;
	cursor: pointer;
}

.header:hover{
	background-color:#666;
}
.selected{
	background-color:#F00;
	color:#FFF;
}

.content{
	background:#FFF;
	padding:4px;
}

#basic-accordian{
	width:266px;
	border-bottom:1px solid #cecece;
	border-left:1px solid #cecece;
	border-right:1px solid #cecece;
	
}

.accordion_headings{
	padding:5px;
	background:#807f77;
	color:#FFFFFF;
	
	cursor:pointer;
	font-weight:bold;
	text-align:left;
}

.accordion_headings:hover{
	background:#35ab43;
}

.accordion_child{
	text-align:left;
	padding:15px;
	background:#FFFFFF;
}

.header_highlight{
	background:#35ab43;
}

/*FOR ACCORDION*/

/* FOR panel*/
#message_box {
position: static;
top: 0; left: 0;
z-index: 10;
background:#f2f2f2;
border-left: 1px solid #cecece;
border-right: 1px solid #cecece;
border-bottom: 1px solid #cecece;
padding:15px;
-moz-border-radius-bottomright: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-webkit-border-bottom-left-radius: 9px;
text-align:center;
opacity: 0.8;
margin:auto;
width:50%;
}

#message_box2 {
position: static;
top: 0; left: 0;
z-index: 10;
background:#f2f2f2;
border-left: 1px solid #cecece;
border-right: 1px solid #cecece;
border-bottom: 1px solid #cecece;
padding:12px;
-moz-border-radius-bottomright: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-webkit-border-bottom-left-radius: 9px;
text-align:left;
opacity: 0.8;
margin:auto;
width:95%;
}
