@charset "utf-8";
/* CSS Document */

body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #797871;
}

img {
    vertical-align: middle;
    border: 0px;

}

td {
    font-size:12px;
}

#table_body td {
    vertical-align: top;
}

#index_menu {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


input {
    padding: 5px;
}

select:disabled {
    color: #333333;
}

input[type="text"]:disabled {
    color: #333333;
}

hr {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-color: #e5e5e5;
    height: 1px;
    width: 70%;
}
#tbwb {
    border-collapse:collapse;
}
#tbwb td {
    border:1px solid #cecece;
    border-collapse:collapse;
    text-align:center;
    vertical-align:middle;
    height:35px;
}

#celllink a{width:100%;height:100%;display:block;}
#celllink a:hover{width:100%;height:100%;display:block;}

/*FOR ACCORDION*/
.header {
    background: #000;
    cursor: pointer;
}

.header:hover{
    background-color:#666;
}
.selected{
    background-color:#F00;
    color:#FFF;
}

.content{
    background:#FFF;
    padding:4px;
}

#basic-accordian{
    width:266px;
    border-bottom:1px solid #cecece;
    border-left:1px solid #cecece;
    border-right:1px solid #cecece;

}

.accordion_headings{
    padding:5px;
    background:#807f77;
    color:#FFFFFF;

    cursor:pointer;
    font-weight:bold;
    text-align:left;
}

.accordion_headings:hover{
    background:#35ab43;
}

.accordion_child{
    text-align:left;
    padding:15px;
    background:#FFFFFF;
}

.header_highlight{
    background:#35ab43;
}

/*FOR ACCORDION*/
